.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 300px;
    background-color: #ECF3FF;
}
.heading{
    font-size: 30px;
   font-weight: 650;
   padding:20px 120px;
   font-size: 40px;
}
.subheading{
    font-size: 24px;
    color: rgb(81, 81, 81);
    padding: 10px 50px;
}
.form{
    display: flex;
    padding-top: 50px;
}
.mail{
    width:448px;
    height:58px;
    border-radius: 50px;
    border-style: none;
    border: 1px solid #3E82FC;
    padding: 0px 10px;
    color: #3E82FC;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E82FC;
    border-radius: 50px;
    width: 181px;
    height: 62px;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 20px;
}